
@font-face {
  font-family: nasalization;
  src:url(nasalization-free.regular.ttf);
}

body {
  background-color: #eee;
  font-family: "nasalization";
  font-size: calc(15px + 1vw);
}


/* style gallery*/



.hello {
  opacity: 1 !important;
}
.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.full .content {
  background-color: rgba(0,0,0,0.75) !important;
  height: 100%;
  width: 100%;

  display: grid;
}
.full .content img {
  left: 50%;
  transform: translate3d(0, 0, 0);
  max-width: 80%;
  max-height: 80%;
  margin: auto;
}
.byebye {
  opacity: 0;
}
.byebye:hover {
  transform: scale(0.2) !important;
}
.gallery {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 8px;
}
.gallery img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}
.gallery img:hover {
  box-shadow: 0 0 32px #333;
}
.gallery .content {
  padding: 4px;
}
.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.gallery .gallery-item:hover {
  transform: scale(1.025);
}
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}

/* fin style gallery*/



/* style header */
header {
  position: relative;
  width: 100%;
  height: 15%;
  margin:0;
}

h1 > a {
  text-decoration : none;
  color : black;
}

h1 > a:hover {
  opacity : 0.5;
}

.underline {
  text-decoration: underline 2px;
}

.hdr-title {
  
}

.hdr-link {
  position: absolute;
  margin:0;
  padding: 0;
  top : 20%;
  left : 0;
  width: 98%;
  height: 100%;
  text-align: right;
}

li {
  display: inline-block;
}

li > a {
  text-decoration: none;
  font-weight: bold;
  color : black;
  top : 0%;
  font-size : calc(13px + 1vw);
}

li > a:hover {
  text-decoration: underline 2px;
  opacity: 0.5;

}
/* fin style header */


/* style body */
.summary {
  width :90%;
  border : solid #ccc 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: solid 2px #999;
  background-color : #ccc;
  font-size : calc(10px + 1vw);
  padding : 20px;
  margin : auto;
}

h2 {
  padding:0;
  margin:10px;
}

.video {
  width: 50%;
  margin-left : 15%;
}

video {
  margin top 
}

@media only screen and (max-device-width: 700px) {
      .hdr-link {
        top : 60%;
        text-align: left;
      }
    }

 @media only screen and (min-device-width: 701px) {
      .hdrlink {
        top : 20%;
        text-align: right;
      }
    }
