
@font-face {
  font-family: nasalization;
  src:url(nasalization-free.regular.ttf);
}


body {
  background-color: #eee;
  font-family: "Helvetica";
  font-size: calc(15px + 1vw);
  height: 100vh;
  width : 100%;
  margin : 0;


}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


/* style header */
header {
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: #bbb;
  top :0;
  margin:0;
  z-index: 2;
  flex-shrink: 0 ;
}

h1 > a {
  text-decoration : none;
  color : black;
  z-index: 3;

}

h1 > a:hover {
  opacity : 0.5;
}

.underline {
  background-color: #999;
}

.hdr-title {
  margin:0;
  font-family: "nasalization";
  font-size: calc(17px + 1.5vw);
  padding-top: 2.5vh;
  padding-left : 10px;
}

.hdr-link {
  position: absolute;
  margin:0;
  padding: 0;
  top : 17%;
  height: 100%;
  text-align: right;
  left: 48%;
  width: 50%;

}

.hdr-link > li {
  display: inline-block;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  border : solid 1px #999;
  border-radius: 5px;
  background-color: #aaa;
  cursor: pointer;
}

.hdr-link > li > a {
  text-decoration: none;
  font-weight: bold;
  color : black;
  top : 0%;
  font-size : calc(13px + 1vw);
}

.hdr-link > li:hover {
  background-color: #999;
}

/* fin style header */


/* style body */



.hiddenHeader {
  flex-shrink: 0;
  height: 10vh;
}

.main-content {
  
  padding-top: 20px;
  padding-bottom: 20px;

  flex-grow: 1;

  background-image: url('images/fond1.jpg');
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;


}

.summary {
  width :90%;
  border : solid #ccc 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: solid 2px #777;
  background-color : rgba(204,204,204,0.7);
  /*font-size : calc(10px + 1vw);*/
  margin : auto;
  padding : 10px;
}



h2 {
  padding:0;
  margin:10px;
}

.video {

  width: 90%;

  background-color:  rgba(204,204,204,0.7);
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  margin: auto;
  padding: 10px;
}

video {
  width: 70%;
  margin-left : calc(15% - 10px);
}

.speak {
  width: 90%;
  background-color:  rgba(204,204,204,0.7);
  border-left: solid 1px #ccc;
  border-top : solid 2px #777;
  border-right: solid 1px #ccc;
  margin: auto;
  padding: 10px;
}



.team {
  font-size : calc(5px + 1vw);
  text-align: center;
  width :90%;
  margin: auto;
  padding: 10px;
  background-color:  rgba(204,204,204,0.7);

  border: solid 1px #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top : solid 2px #777;
}

.team > h2 {
  padding:0;
  margin:10px;
  text-align: left;
  font-size: calc(22px + 1vw);
}

.team > div{
  margin-left: 15px;
  display: inline-block;
  text-align: center;

}

.people > img {
  height: 300px;
  width: auto;  
}

.people > p {
  font-size: 20px;
}
/* fin style body*/


/* style references */

.reference-main {
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: calc(5px + 1vw);

  flex-grow: 1;

  background-image: url('images/fond2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: none;
  background-attachment: fixed;
  background-position: center;
}

.references-box {
  background-color: rgb(204,204,204,0.7);
  border :solid #ccc 1px;
  border-radius: 5px;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.references-box > h2 {
  padding:0;
  margin:10px;
  text-align: left;
  font-size: calc(10px + 1vw);

}

.reference-list {

}
.reference-list > li{
  margin-top: 20px;
}


.break {
    word-break: break-all;
}
/* fin style references */



/* style gallery*/



.hello {
  opacity: 1 !important;
}
.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.full .content {
  background-color: rgba(0,0,0,0.75) !important;
  height: 100%;
  width: 100%;

  display: grid;
}
.full .content img {
  left: 50%;
  transform: translate3d(0, 0, 0);
  max-width: 80%;
  max-height: 80%;
  margin: auto;
}
.byebye {
  opacity: 0;
}
.byebye:hover {
  transform: scale(0.2) !important;
}
.gallery {
  flex-grow: 1;
  margin-top : 20px;
  margin-bottom : 20px;
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 8px;
}
.gallery img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}
.gallery img:hover {
  box-shadow: 0 0 32px #333;
}
.gallery .content {
  padding: 4px;
}
.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.gallery .gallery-item:hover {
  transform: scale(1.025);
}
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}
/* fin style gallery*/


/* style footer*/



footer {
  flex-shrink: 0;
  margin:0;
  width:  100%;
  height: 11%;
  background-color: #bbb;
}

.copyright {
  margin : 0;
  padding-right:   15px;
  padding-top : 15px;
  font-size:  15px;
  float:  right;      
  text-align: center;
}

.footer-main {
  margin-top:15px;
  margin-left: 15px;
  width: 50%;
  font-size: calc(12px + 1vw);
  float: left;
}

.footer-main > a {
  color: black;
}

.footer-main > a:hover {
  opacity: 0.5;
}
  

/* fin style footer*/



@media only screen and (max-device-width: 795px) {
      .hdr-link {
        top : 40%;
        text-align: left;
        width: 95%;
        left: 10px;
      }
      li {
        margin-top: 10px;
      }
      header {
        height: 14vh;
      }
      .hiddenHeader {
        height: 14vh;
      }

      .footer-main{
        width: 95%;
        text-align: center;
      }

      .copyright {
        margin-left: 20px;
        float: left;
      }
      footer {
        height: 22vh;
      }
      video {
       width: 100%;
       margin:0;
      }
}

