
@font-face {
  font-family: nasalization;
  src:url(nasalization-free.regular.ttf);
}

@font-face {
  font-family: gotham-book;
  src:url(HomepageBaukasten-Book.ttf);
}

@font-face {
  font-family: gotham-black;
  src:url(Metropolis-Black.otf);
}



body {
  background-color: #eee;
  font-family: "gotham-book";
  font-size: calc(15px + 1vw);
  height: 100vh;
  width : 100%;
  margin : 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


/* style header */
header {
  display: block;
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: #bbb;
  top :0;
  margin:0;
  z-index: 2;
  flex-shrink: 0 ;
}

h1 > a {
  text-decoration : none;
  color : black;
  z-index: 3;

}

h1 > a:hover {
  opacity : 0.5;
}

.underline {
  background-color: #999;
}

.hdr-title {
  margin:0;
  float: left;
  font-family: "nasalization";
  font-size: calc(17px + 1.5vw);
  padding-top: 2.5vh;
  padding-left : 10px;
  width: 80% 
}


/* fin style header */

#menuToggle
{
  display: inline-block;
  float: right;
  position: relative;
   
  margin-right: 20px;
  margin-top: 40px;
  top
  z-index: 10;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #232323;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 250px;
  margin: calc(10vh - 40px - 27px) 0 0 -167px;
  padding: 35px;
  padding-top: 15px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}








/* style body */



.hiddenHeader {
  flex-shrink: 0;
  height: 10vh;
}

.main-content {
  
  padding-top: 20px;
  padding-bottom: 20px;

  flex-grow: 1;

  background-image: url('images/fond1.jpg');
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;


}

.summary {
  width :70%;
  border : solid #ccc 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: solid 2px #777;
  background-color : rgba(204,204,204,0.6);
  /*font-size : calc(10px + 1vw);*/
  margin : auto;
  padding : 10px;
}



h2 {
  padding:0;
  margin:10px;
  font-family: "gotham-black";
}

.video {

  width: 70%;

  background-color:  rgba(204,204,204,0.6);
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  margin: auto;
  padding: 10px;
}

video {
  width: 95%;
  margin-left : calc(2.5%);
}

.speak {
  width: 70%;
  background-color:  rgba(204,204,204,0.6);
  border-left: solid 1px #ccc;
  border-top : solid 2px #777;
  border-right: solid 1px #ccc;
  margin: auto;
  padding: 10px;
}



.team {
  font-size : calc(5px + 1vw);
  text-align: center;
  width :70%;
  margin: auto;
  padding: 10px;
  background-color:  rgba(204,204,204,0.6);

  border: solid 1px #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top : solid 2px #777;
}

.team > h2 {
  padding:0;
  margin:10px;
  text-align: left;
  font-size: calc(22px + 1vw);
}

.team > div{
  margin-left: 15px;
  display: inline-block;
  text-align: center;

}

.people > img {
  height: 300px;
  width: auto;  
}

.people > p {
  font-size: 20px;
}
/* fin style body*/


/* style references */

.reference-main {
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: calc(5px + 1vw);

  flex-grow: 1;

  background-image: url('images/fond2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: none;
  background-attachment: fixed;
  background-position: center;
}

.references-box {
  background-color: rgb(204,204,204,0.6);
  border :solid #ccc 1px;
  border-radius: 5px;
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
}

.references-box > h2 {
  padding:0;
  margin:10px;
  text-align: left;
  font-size: calc(10px + 1vw);

}

.reference-list {

}
.reference-list > li{
  margin-top: 20px;
}


.break {
    word-break: break-all;
}
/* fin style references */



/* style gallery*/



.hello {
  opacity: 1 !important;
}
.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.full .content {
  background-color: rgba(0,0,0,0.75) !important;
  height: 100%;
  width: 100%;

  display: grid;
}
.full .content img {
  left: 50%;
  transform: translate3d(0, 0, 0);
  max-width: 80%;
  max-height: 80%;
  margin: auto;
}
.byebye {
  opacity: 0;
}
.byebye:hover {
  transform: scale(0.2) !important;
}
.gallery {
  flex-grow: 1;
  margin-top : 20px;
  margin-bottom : 20px;
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 8px;
}
.gallery img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}
.gallery img:hover {
  box-shadow: 0 0 32px #333;
}
.gallery .content {
  padding: 4px;
}
.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.gallery .gallery-item:hover {
  transform: scale(1.025);
}
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}
/* fin style gallery*/


/* style footer*/



footer {
  flex-shrink: 0;
  margin:0;
  width:  100%;
  height: 12%;
  background-color: #bbb;
}

.copyright {
  margin : 0;
  padding-right: 15px;
  padding-top : 10px;
  padding-bottom: 10px;
  font-size:  15px;
  float:  right;      
  text-align: center;
}
  

/* fin style footer*/



@media only screen and (max-device-width: 795px) {
  
  header {
    height: 14vh;
  }
  .hiddenHeader {
    height: 14vh;
  }
  #menu {
    margin: calc(14vh - 40px - 27px) 0 0 -167px;

  }
  .summary {
    width: 90%;
  }
  .video {
    width: 90%;
  }
  .speak { 
    width: 90%;  
  }
  .team {
    width: 90%;  
  }
  .references-box {
    width: 90%; 
  }
  .copyright {
    margin-left: 20px;
    float: left;
  }
  video {
   width: 100%;
   margin:0;
  }
}


@media only screen and (max-device-height: 630px) {
  #menuToggle {
    margin-top: 15px;
  }
  #menu {
    margin: calc(14vh - 15px - 27px) 0 0 -167px;

  }
}
